body{
	font-family: Roboto;
	height: 100%;
	width: 100%;
	background: linear-gradient(0deg, #e1e1e1 0%, #eaeaea 100%);
}

h1, h5 {
	text-align: center;
}

h4{
	left: -38px;
}

.header-container{
	display: flex;
	justify-content: center;
}

#tooltip {
	position: absolute;
	display: none;
	background: #fff;
	box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
	border: 1px solid #ddd;
	font-size: 12px;
	font-weight: 500;
	padding: 8px;
	min-width: 160px;
	color: #333;
  }

.selected {
	opacity: 1 !important;
	stroke: black;
	stroke-width: 1px;
  }

.header-card{
	background-color: #ffffff;
	border-radius: 15px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 15px;
	box-shadow: 0px 1px 3px #aaaaaa, 0px 2px 3px #aaaaaa, 0px 3px 3px #aaaaaa;
	transition: 0.5s box-shadow;
}

.header-card:hover{
	background-color: #ffffff;
	border-radius: 15px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 15px;
	box-shadow: 0px 1px 3px #aaaaaa, 0px 2px 3px #aaaaaa;
}

.cool-button{
	height: 30px;
	width: 90px;
	background-color: #0b3d91;
	color: #eaeaea;
	border-radius: 5px;
	border: transparent;
	box-shadow: 0px 1px 0.5px #bbbbbb, 0px 2px 0.5px #bbbbbb, 0px 3px 0.5px #bbbbbb;
	transform: translateY(-2px);
	transition: 0.1s transform, 0.1s box-shadow;
}

.cool-button:hover{
	box-shadow: 0px 1px 0.5px #aaaaaa, 0px 2px 0.5px #aaaaaa;
	transform: translateY(-1px);
	cursor: pointer;
}

.cool-button:active{
	box-shadow: 0px 1px 0.5px #999999;
	transform: translateY(0px);
	color: #dadada;
	cursor: pointer;
}

.cool-button:disabled{
	filter: brightness(75%);
	box-shadow: 0px 2px 0.5px #999999, 0px 1px 0.5px #999999;
	transform: translateY(-1px);
}

.cool-button:disabled{
	cursor: default;
}
	
.barchart-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.large-chart-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.yearline-container{
	position: relative;
}

.scatterplot-container{
	position: relative;
}

.card{
	background-color: #ffffff;
	border-radius: 15px;
	padding: 15px;
	margin: 15px;
	box-shadow: 1px 1px 3px #aaaaaa, 2px 2px 3px #aaaaaa;
	transition: 0.5s box-shadow;
}

.card:hover{
	background-color: #ffffff;
	border-radius: 15px;
	padding: 15px;
	margin: 15px;
	box-shadow: 1px 1px 3px #aaaaaa;
}

.chart-title{
	position: relative;
	margin: 0 auto;
	width: 170px;
	text-align: center;
}
  
.chart-title:after{
	content:'';
	position: absolute;
	border-bottom: 2px solid #666;
	top: 95%;
	transition: all 0.3s;
}

.chart-title:after {
	right: 50%;
	left: 50%;
}

.chart-title:hover:after {
	right: 0; left: 0;
}

.help-button {
	position: absolute;
	bottom: 10px;
	right: 15px;
	display: inline-block;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 24px;
	padding: 0;
	color: #888;
}
  
.help-button:hover {
	color: #999;
}

.help-button:active {
	color: #777;
}

.methodbar-container{
	position: relative;
}

#scatterplot-tooltip {
	font-family: Roboto;
	position: absolute;
	display: none;
	background: #fff;
	box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
	border: 1px solid #ddd;
	font-size: 14px;
	font-weight: 500;
	padding: 8px;
	min-width: 110px;
	color: #333;
}

#system-tooltip {
	font-family: Roboto;
	position: absolute;
	display: none;
	background: #fff;
	box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
	border: 1px solid #ddd;
	font-size: 14px;
	font-weight: 500;
	padding: 8px;
	min-width: 125px;
	color: #333;
}

.table-container, .table-container:hover{
	display: flex;
	justify-content: center;
	padding-bottom: 100px;
}

.styled-table {
    width: 96%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
	max-height: 500px;
}

.styled-table thead, .styled-table tbody {
    width: 100%;
}

.styled-table thead tr {
    position: sticky;
    background-color: #0b3d91;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table td {
    padding: 12px 15px;
    width: 20%;
}

.styled-table th{
	font-size: 16pt;
	text-align: center;
}

.styled-table tr {
    width: 100%;
    display: table;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: left;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table tbody {
    display: block;
    max-height: 500px;
    overflow-y: auto;
	overflow-x: hidden;
}

.styled-table thead th:hover{
    background-color: #0c3e92;
    cursor: pointer;
}

.styled-table tbody tr:hover{
    background-color: #eaeaea;
    cursor: pointer;
}

#loading {
	opacity: 0;
	font-size: 20pt;
	transition: opacity 0.1s ease-in-out;
	background-color: #ddd; 
	box-shadow: 0px 1px 3px #777;
	position: fixed; 
	width: 120px;
	bottom: 100px; 
	left: calc(50% - 60px); 
	padding: 10px; 
	border-radius: 10px;
}
  
#loading.loading {
	display: block;
	opacity: 1;
}