body{
	font-family: Roboto;
	height: 100%;
	width: 100%;
}

h1, h5 {
	text-align: center;
}

h4{
	left: -38px;
}
	
.barchart-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.large-chart-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.chart-title{
	position: relative;
	margin: 0 auto;
	width: 170px;
	text-align: center;
  }
  .chart-title:after{
	content:'';
	position: absolute;
	border-bottom: 2px solid #666;
	top: 95%;
	transition: all 0.3s;
   }
  
  .chart-title:after {
	right: 50%;
	left: 50%;
  }
  .chart-title:hover:after {
	right: 0; left: 0;
  }

  #scatterplot-tooltip {
	font-family: Roboto;
	position: absolute;
	display: none;
	background: #fff;
	box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
	border: 1px solid #ddd;
	font-size: 14px;
	font-weight: 500;
	padding: 8px;
	min-width: 110px;
	color: #333;
  }

  #year-tooltip {
	font-family: Roboto;
	position: absolute;
	display: none;
	background: #fff;
	box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
	border: 1px solid #ddd;
	font-size: 12px;
	font-weight: 500;
	padding: 8px;
	min-width: 160px;
	color: #333;
  }